bu.aux
dtx-style.sty
FinalReportCS.aux
FinalReportCS.fdb_latexmk
FinalReportCS.fls
FinalReportCS.log
FinalReportCS.out
FinalReportCS.pdf
FinalReportCS.synctex.gz
FinalReportCS.toc
FinalReportCS.xdv
FinalReportCS.bbl
FinalReportCS.blg
thuthesis.cls
*.pdf
*.log
Presentation/*.pdf
Presentation/*.log
Presentation/*.aux
Presentation/*.out
Presentation/*.synctex.gz
Presentation/*.bbl
Presentation/*.nav
Presentation/*.fdb_latexmk
Presentation/*.snm
Presentation/*.toc
Presentation/*.fls
Presentation/*.blg
!Presentation/cityulogo.pdf
